body {
	background-color: lightblue;
}

  img {
    width: 200px;
    height: 400px;
    background-size: 100% 100%;
    border: 1px solid red;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


/*top navigation bar*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  
  a.active  {
    background-color: rgb(99, 110, 209);
    color: white;
  }


/*********************form******************/

  .container {
    padding: 16px;
  }

  * {
    box-sizing: border-box;
  }

  input[type=number] {
    padding: 15px;
    margin: 5px 0px 10px 0px;
    border: none;
    background: #f1f1f1;
    display: inline-block;
    width: 100%
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .btn {
    background-color: rgb(99, 110, 209);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .btn:hover {
    opacity:1;
  }

  h1, p{
    text-align: center;
  }

/*coloumns*/
 
  

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}



/* side navigatino */
.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a, button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a, button:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.quality{
  color: red;
}