{% extends 'base.html' %}

{% block head %}
<title>Index</title>
{% endblock %}

{% block body %}


<!-- <form action="/accuracy" method="post">
    <button class="btn" type="submit">
      Accuracy
    </button>
</form> -->

{% if accuracy is defined %}
<h1>Accuracy</h1>

<table border="1" class="output">
    <tr>
        <th>Classification Techniques</th>
        <th>Accuracy</th>
    </tr>
    {% for item in accuracy %}
    <tr>
        <td>{{item}}</td>
        <td>{{accuracy[item]}}</td>
    </tr>
    {% endfor%}
</table>
{% endif %}
<br><br>
{% if mean_absolute_error is defined %}
<h1>Mean Absolute Error</h1>

<table border="1" class="output">
    <tr>
        <th>Classification Techniques</th>
        <th>Mean Absolute Error</th>
    </tr>
    {% for item in mean_absolute_error %}
    <tr>
        <td>{{item}}</td>
        <td>{{mean_absolute_error[item]}}</td>
    </tr>
    {% endfor%}
</table>
{% endif %}

<br><br>
{% if mean_squared_error is defined %}
<h1>Mean Squared Error</h1>

<table border="1" class="output">
    <tr>
        <th>Classification Techniques</th>
        <th>Mean Squared Error</th>
    </tr>
    {% for item in mean_squared_error %}
    <tr>
        <td>{{item}}</td>
        <td>{{mean_squared_error[item]}}</td>
    </tr>
    {% endfor%}
</table>
{% endif %}
<br><br>
{% if root_mean_squared_error is defined %}
<h1>Root Mean Squared Error</h1>

<table border="1" class="output">
    <tr>
        <th>Classification Techniques</th>
        <th>Root Mean Squared Error</th>
    </tr>
    {% for item in root_mean_squared_error %}
    <tr>
        <td>{{item}}</td>
        <td>{{root_mean_squared_error[item]}}</td>
    </tr>
    {% endfor%}
</table>
{% endif %}




{% endblock %}